EasyOCRSandbox/test.pdf
EasyOCRSandbox/EasyOCRSandboxOutput/page0.jpg
EasyOCRSandbox/EasyOCRSandboxOutput/page1.jpg
EasyOCRSandbox/EasyOCRSandboxOutput/thresh0.jpg
EasyOCRSandbox/EasyOCRSandboxOutput/thresh1.jpg
Step1.txt
